h1 {
  color: #2a2a2a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #2a2a2a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

.panel-image-preview{
    width: 100%;
    height: 100%;
    background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*
    Override bootstrap elements
*/
/*
.navbar-default{
  background-color: #2a2a2a !important;
}

.navbar{
  border:none;
  border-radius: 0px !important;
}
.navbar-default .navbar-nav>li>a {
    color: #f7f7f7 !important;
    font-size: 1.1em;
    line-height: 1.8em;
}
.navbar-default .navbar-nav>.active>a{
      background-color: #000  !important;
}

.navbar-default .navbar-brand {
    font-size: 1.4em !important;
    color: #fff !important;
}

.btn{
  border:none !important;
  border-radius: 0px !important;
}
.btn-dark{
    color: #f7f7f7;
     background-color: #2a2a2a;
     }
.btn-dark:hover .btn-dark:focus{
  color:#f7f7f7 !important;
  background-color: #3a3a3a !important;
}
*/