<!--
<div class="row">   
 <h1>Most Popular</h1>
    <h2 class="text-muted"> Get lists of NYT Articles based on shares, emails, and views.</h2>
</div>
-->
<div class="row">
    <div class="list-group">
        <a href="{{item.url}}" class="list-group-item" target="_blank" *ngFor="let item of mostPopular">
            <h4 class="list-group-item-heading">{{item.title}}</h4>
            <p class="list-group-item-text">{{item.abstract}}</p>
            <p class="text-muted">Section:{{item.section}}   Puplish Date:{{item.published_date}} </p>
        </a>
    </div>
</div>