<div class="row">
<div *ngFor="let doc of docs" class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-image">
            <img src="http://nytimes.com/{{doc.multimedia[1].url}}" class="panel-image-preview">
        </div>
        <div class="panel-body">
            <h4>{{doc.headline.name}}</h4>
            <p>{{doc.snippet}}</p>
            <hr>
        <div class="pull-right">
            <a href="{{doc.web_url}}"> Read More </a></div>
        </div>
    </div>
</div>
</div>

