<div class="row">
  <div class="container">
    <h2>Angular 2 Nytimes Api Example</h2>
    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> Permission is hereby granted, free of charge, to any person
      obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without
      restriction.
    </p>
    <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
    <p>
      <code>
            git clone https://github.com/angular/Angular2Nytimes  my-proj
            cd my-proj
          </code>
    </p>

    <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> Permission is hereby granted, free of charge, to any person
      obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without
      restriction.
    </p>
    <p>
      <code>
            npm install
            npm start
          </code>
    </p>

  <p><a class="btn btn-primary"> Fork Me On Github</a></p>


    <hr>
 
  </div>
</div>